# Web
flask==3.0.3
python-dotenv==1.0.1

# LangChain core
langchain==0.2.16
langchain-community==0.2.16
langchain-groq==0.1.6
langchain-huggingface==0.0.3

# LangGraph memory
langgraph==0.1.19

# Embeddings
sentence-transformers==2.7.0
transformers==4.41.2
torch==2.2.2

# Vector DB (FAISS)
faiss-cpu==1.7.4

# PDF
pypdf==4.2.0

# Web search
tavily-python==0.3.3
